[Desktop Entry]
Name=Mount B2
Type=Application
Exec=/opt/bin/mount-b2
Comment=Mount Backblaze B2 storage
Icon=/opt/share/icons/backblaze_logo.png
Terminal=false
Categories=Utility;
