[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=/opt/bin/save-settings
Name=Save settings
Comment=Save settings to persistent storage
Icon=utilities-terminal
Categories=Application;
